* {
  box-sizing: border-box;
  padding: 0;
  margin: 0%;
}

.hotel {
  width: 100%;
  background-color: #FFFFFF;
  height: auto;
  padding: 70px 126px 70px 126px;
}

.name-hotel {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.assess {
  display: flex;
}

.assess-amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.address {
  display: flex;
}

.address-hotel {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.info-hotel {
  display: flex;
  justify-content: space-between;
}

.info-hotel-right {
  display: flex;


}

.price {
  display: flex;
}

.price-old {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  //text-align: end;
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.42);
}

.price-new {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: end;
  color: #000000;
}

.discount {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #FFFBFC;
  background-color: #FC5981;
  width: 44px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  margin-left: 5px;
}

.choose {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFBFC;
  background: #FC5981;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  border: none;
}

.imgs-hotel-1 {
  border-radius: 5px;
  width: 592px;
  height: 336px;
}

.img-hotel-full {
  border-radius: 5px;
  width: 294px;
  height: 163px;
}

.general-assess-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  padding-bottom: 20px;
}

.general-assess {
  display: flex;
  width: 100%;
}

.number {
  display: flex;
  width: 20%;
}

.assess-number {
  width: 100px;
  border: 3px solid #FC5981;
  border-radius: 50%;
  text-align: center;
  height: 100px;
}

.as {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #FC5981;
  padding-top: 10px;
}

.ass {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.overview>p {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #000000;
  padding-left: 10px;
}

.star {
  display: flex;
  width: 30%;
  padding-left: 40px;
}

.quality>p {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #000000;
  padding-right: 10px;
}

.cmt {
  width: 90%;
}

.comment {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.share {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

// **************************************
// Tablet
@media only screen and (min-width: 740px) and (max-width:1023px) {
  .hotel {
    width: 100%;
    padding: 70px 25px 70px 25px;
  }

  .info-hotel-right {
    padding-bottom: 15px;
    padding-right: 40px;
  }

  .address-hotel {
    width: 50%;
  }

  .info-hotel-right {
    display: flex;
    flex-direction: column;
  }

  .price-choose {
    margin-bottom: 15px;
  }

  .general-assess {
    display: flex;
    width: 100%;
  }

  .number {
    display: flex;
    width: 27%;
  }

  .star {
    display: flex;
    width: 37%;
    padding-left: 40px;
  }

  .cmt {
    width: 30%;
  }
}

// Mobile
@media only screen and (max-width: 739px) {
  .hotel {
    width: 100%;
    padding: 70px 25px 70px 25px;
  }

  .info-hotel {
    display: flex;
    flex-direction: column;
  }

  .info-hotel-right {
    margin-top: 15px;
  }

  .general-assess {
    display: flex;
    flex-direction: column;
  }

  .general-assess {
    display: flex;
    width: 100%;
  }

  .number {
    display: none;

  }

  .star {
    display: flex;
    width: 100%;
    padding-left: 0px;
  }

  .cmt {
    width: 100%;
  }
}